 <tr>
        <td><%= todo.id %></td>
        <td><%= todo.task %></td>
        <td><%= todo.project.project_name%></td>
        <td id="<%=todo.id%>" class="task-link">
            <%= link_to "#",  confirm: 'Update?', class: 'task link-delete', 'data-message' => 'Are you sure to Update Stauts?', "data-task":todo.id,"data-status":!todo.status?,'data-severity' => 'danger' do %>
              <%=todo_status(todo)%>
            <% end %>

        </td>

      </tr>